<a href="https://colab.research.google.com/github/prissysin68/Coursera_Capstone/blob/main/Segmenting_and_Clustering_Neighborhoods_in_Toronto_week3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import libraries

import pandas as pd
import numpy as mp
import requests
from bs4 import BeautifulSoup

# Webscraping to extract data of Neighborhoods in Toronto

Use the requests library to download the webpage

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

Save the text of the response as a variable named html_data.

In [7]:
response = requests.get(url)
html_data = response.text

Parse the html data using beautiful_soup.

In [8]:
soup = BeautifulSoup(html_data, "html.parser")

Creata a list after extracting the required information from the data.

In [11]:
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

Create a DataFrame with the list.

In [16]:
df=pd.DataFrame(table_contents)
df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

In [17]:
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [20]:
print(f'The dataframe has {df.shape[0]} rows')
df.shape

The dataframe has 103 rows

(103, 3)